.header{
    background-color: #FFFFFF;
}
.container{
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
}
.header__top{
    display: flex;
    margin-bottom: 15px;
    align-items: center;
}
.header__bottom{
    padding-bottom: 15px;
    align-items: center;
    display: flex;
}
.header__inner{
    margin-top: 10px;
}
.header__list__links{
    display: flex;
}
.header__location-img{
    padding-right: 10px;
}
.header__location-text{
    padding-right: 15px;
    font-size: 12px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    line-height: 15px;
    align-items: center;
    text-align: center;
    width: 152px;
    color: #FDA3C4;
}
.header__phone__img{
    padding-right: 16px;
}
.header__phone-link{
    width: 127px;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-style: italic;
    line-height: 15px;
    color: #FDA3C4;
    text-decoration: none;
}

.header__title__img{
    padding-right: 217px;
    padding-left: 135px;
}
.header__search__img{
    padding-right: 20px;
}
.header__search__text{
    padding-right: 116px;
}
.header__love__img{
    padding-right: 38px;
}
.header__love{
    cursor: pointer;
}
.header__shop{
    cursor: pointer;
}
.header__search{
    cursor: pointer;
}
.header-link{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    align-items: center;
    color: #1F1F1F;
}
.header-link:hover{
    color: #FDA3C4;
}
.header-item-link{
    padding-right: 74px;
}
.footer{
    background-color: #FDA3C4;
}
.footer__inner{
    display: flex;
    padding-top: 55px;
    padding-bottom: 50px;
}
.footer__logo{
    padding-right: 110px;
}
.footer__info{
    padding-right: 110px;
}
.footer__adres{
    padding-right: 110px;
}
.footer__sociale{
    padding-right: 110px;
}
.footer__info-title{
    text-transform: uppercase;
    color: #F40000;
    font-size: 12px;
    line-height: 23px;
    font-family: 'Waiting for the Sunrise', cursive;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 15px;
}
.footer__info-title__last{
    text-transform: uppercase;
    color: #F40000;
    font-size: 12px;
    line-height: 23px;
    font-family: 'Waiting for the Sunrise', cursive;
    font-weight: 400;
    font-style: normal;
}
.footer__info-item{
    padding-bottom: 10px;
    text-decoration: none;
}
.footer__feedback-img{
    padding-right: 30px;
}
.footer__info-link{
    color: #FFFFFF;
    font-size: 12px;
    line-height: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: italic;
    text-decoration: none;
}
.footer__feedback-text{
    color: #FFFFFF;
    font-size: 12px;
    line-height: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: italic;
    max-width: 150px;
    padding-bottom: 43px;
}
.footer__sociale__instagram{
    padding-right: 8px;
}
.footer__sociale__facebook{
    padding-left: 8px;
}
.main__img-item{
    max-width: 570px;
    max-height: 345px;
    min-height: 345px;
}
.main__inner__first{
    margin-top: 15px;
    padding-bottom: 60px;
}
.main__img-item2{
    max-width: 570px;
    max-height: 345px;
    min-height: 345px;
}
.small{
    max-height: 296px;
    min-height: 296px;
    min-width: 273px;
    max-width: 274px;
}
.footer__info__text{
    color: #FFFFFF;
    font-size: 12px;
    line-height: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: italic;
    position: relative;
}
.footer__info__btn{
    background-color: #FDA3C4;
    cursor: pointer;
    border-color: #F40000;
}
.main__inner__first{
    display: flex;
}
.main__grid__left{
    position: left;
}
.main__grid__right{
    position: right;
}
.main__images-list{
    display: grid;
    grid-gap: 15px 15px;
    grid-template-columns: repeat(2,1fr);
    max-width: 570px;
}
.main__images-list2{
    display: grid;
    grid-gap: 15px 15px;
    grid-template-columns: repeat(2,1fr);
    max-width: 570px;
    padding-left: 15px;
}
.main__img-item:nth-child(1){
    grid-column: 1/3;
    grid-row: 1;    
}
.main__img-item:nth-child(2){
    grid-column: 1/2;
    grid-row: 2;
    grid-row-gap: 0;
}
.main__img-item:nth-child(3){
    grid-column: 2/3;
    grid-row: 2;
    grid-row-gap: 0;
}
.main__img-item2:nth-child(1){
    grid-column: 0/1;
    grid-row: 1;
}
.main__img-item2:nth-child(2){
    grid-column: 1/2;
    grid-row: 1;
}
.main__img-item2:nth-child(3){
    grid-column: 1/3;
    grid-row: 2;
}
.main__img-img1{
    margin-top: 266px;
    margin-left: 22px;
}
.main__img-img2{
    margin-top: 160px;
    margin-left: 160px;
}
.main__img-img3{
    margin-top: 17px;
    margin-left: 122px;
}
.main__img-img4{
    margin-top: 225px;
    margin-left: 75px;
}
.main__img-img5{
    margin-top: 175px;
    margin-left: 15px;
}
.main__img-img6{
    margin-top: 205px;
    margin-left: 56px;
}
.main__1{
    background-image: url(../images/футболки.jpg);
}
.main__2{
    background-image: url(../images/низ.jpg);
}
.main__3{
    background-image: url(../images/верх.jpg);
}
.main__5{
    background-image: url(../images/платья.jpg);
}
.main__4{
    background-image: url(../images/костюмы.jpg);
}
.main__6{
    background-image: url(../images/худи.jpg);
}
.main__new__blok{
    height: 103px;
    max-width: 300px;
    min-width: 100px;
    padding-bottom: 25px;
}
.main__title__new__h1{
    font-family: 'Waiting for the Sunrise', cursive;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    font-size: 55px;
    line-height: 103px;
    text-transform: uppercase;
    color: #FDA3C4;
    margin-top: 15px;
}
.main__title__new__h6{
    text-transform: uppercase;
    line-height: 30px;
    font-size: 25px;
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: italic;
    margin-top: 70px;
}
.main__new__blok__img{
    position: absolute;
    margin-top: 75px;
    margin-left: 155px;
}
.main__inner__three{
    display: flex;
    align-items: center;
}
.main__models__images{
    padding-right: 5px;
    padding-left: 5px;
    width: 350px;
    height: 434px;
}
.bez__containera{
    max-width: 1504px;
    margin-left: auto;
    margin-right: auto;
}
.main__models__img1{
    background-image: url(../images/girl1.jpg);
}
.line{
    padding-top: 390px;
}
.main__models__img2{
    background-image: url(../images/girl2.jpg);
}
.main__models__img3{
    background-image: url(../images/girl3.jpg);
}
.main__models__img4{
    background-image: url(../images/girl4.jpg);
}
.main__models__img{
    margin-left: 309px;
    margin-top: 15px;
}
.main__inner__three-text__price__big{
    display: flex;
}
.main-item-text__price{
    padding-right: 5px;
    padding-left: 5px;
    width: 350px;
    height: 100px;
    display: flex;
    padding-top: 30px;
    padding-bottom: 55px;
}
.text{
    width: 210px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
}
.price{
    max-width: 100px;
    line-height: 29px;
    color: #FDA3C4;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}
.main__watch__all-btn{
    background-image: url(../images/watch__all.jpg);
    line-height: 27px;
    align-items: center;
    text-align: center;
    font-family: 'Waiting for the Sunrise', cursive;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    color: #FFFFFF;
    width: 180px;
    height: 50px;
    border: inherit;
    margin-bottom: 60px;
    margin-right: 630px;
    margin-left: 630px;
    cursor: pointer;
    margin-top: -40px;
}
.main__baner{
    height: 600px;
    width: 100%;
    padding-bottom: 60px;
}
.main__inner4{
    display: flex;
}
.h2__title__main__map{
    margin-top: 109px;
    font-size: 54px;
    line-height: 103px;
    color: #1F1F1F;
    font-family: 'Waiting for the Sunrise', cursive;
    font-weight: 400;
    font-style: normal;
    width: 261px;
    height: 206px;
    text-align: right;
    z-index: 3;
    margin-left: 60px;
    padding-right: 25px;
    margin-right: 50px;
    margin-left: 30px;
}
.shop__info__text{
    width: 220px;
}
.shop__adres{
    width: 220px;
    height: 50px;
}
.right__info__main{
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    margin-top: 577px;
    z-index: 5;
    margin-left: -300px;
    margin-right: 30px;
}
.main__block__three__images{
    z-index: 5;
    margin-top: 610px;
    margin-right: -85px;
}
.photo__main__shop{
    z-index: 1;
    height: 643px;
    width: 560px;
}
.main__block__img7{
    padding-left: 30px;
}
.main__block__five__images{
    z-index: 10;
}
.main__block__img5{
    padding-left: 30px;
}
.main__block__img3{
    padding-left: 30px;
    padding-right: -20px;
    margin-left: 30px;
}
.main__block__img1{
    margin-left: -30px;
}
.main__block__img3{
    margin-bottom: -30px;
}
.main__block__img4{
    margin-bottom: -40px;
    margin-left: -20px;
}
.map{
    z-index: 8;
    margin-top: 550px;
    margin-bottom: 60px;
    margin-top: 140px;
    margin-left: -200px;
}
.map__btn{
    width: 240px;
    height: 50px;
    background-image: url(../images/btn__shop__bg.png);
    border: inherit;
    font-size: 20px;
    line-height: 26px;
    align-items: center;    
    font-family: 'Waiting for the Sunrise', cursive;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
    z-index: 10;
    margin-left: 30%;
    margin-top: 40px;
    background-color: #FFFFFF;
}
.shop__info__text{
    margin-top: 300px;
    min-width: 230px;
    max-width: 230px;
    line-height: 20px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    z-index: 100;
    margin-left: -60px;
    color: #1F1F1F;
}
.Marquee__top{
    background-color: #FDA3C4;
    font-size: 40px;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    line-height: 50px;
    height: 60px;
    color: #F40000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: italic;
    text-transform: uppercase;
}
.p{
    text-transform: inherit;
}
.grid__img1{
    width: 274px;
    height: 300px;
    z-index: 1;
    padding-bottom: 25px;
}
.grid__img2{
    width: 274px;
    height: 300px;
    z-index: 1;
    padding-top: 25px;
    margin-top: -20px;
}
.main__grid__img1{
    margin-bottom: -5px;
}
.main__grid__img2{
    margin-bottom: -5px;
}
.line2{
    z-index: 10;
    margin-left: 12px;
    margin-bottom: 20px;
}
.main-item-text__price2{
    z-index: 10;
}
.main__models__img3434534534{
    position: absolute;
    margin-left: 231px;
    margin-top: 11px;
    cursor: pointer;
}
.i__feel__inner{
    margin-top: 15px;
    margin-bottom: 105px;
}
.price2{
    margin-left: 177px;
}
.i__feel__inner{
    display: flex;
}
.i__feel__center-img{
    width: 466px;
    height: 600px;
    padding-right: 35px;
    padding-left: 15px;
}
.left__i__feel__block__img{
    z-index: 1;
    margin-bottom: -15px;
}
.line3{
    z-index: 10;
    padding-left: 20px;
}
.main__models__img33{
    position: absolute;
    margin-left: 290px;
    margin-top: 25px;
}
.main-item-text__price233{
    margin-top: -10px;
}
.i__feel__center-btn{
    position: absolute;
    background-image: url(../images/i__feel__red__btn.jpg);
    line-height: 27px;
    align-items: center;
    text-align: center;
    font-family: 'Waiting for the Sunrise', cursive;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    color: #FFFFFF;
    width: 180px;
    height: 50px;
    border: inherit;
    cursor: pointer;
    margin-top: 650px;
    margin-left: 478px;
}
.main__new__blok2{
    margin-top: -55px;
}
.bez__containera2{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
.grid__images__photo__and__Price__customes{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 0px 0px;
}
.img1__grid__1{
    width: 360px;
    height: 530px;
    background-image: url(../images/Rectangle\ 307.jpg);
}
.img1__grid__2{
    width: 360px;
    height: 530px;
    background-image: url(../images/Rectangle\ 308.jpg);
}
.img1__grid__3{
    width: 360px;
    height: 530px;
    background-image: url(../images/Rectangle\ 309.jpg);
}
.img1__grid__4{
    width: 360px;
    height: 530px;
    background-image: url(../images/Rectangle\ 310.jpg);
}
.price899__1{
    padding-top: 97px;
    padding-left: 231px;
}
.pric1899__1{
    margin-left: 30px;
    margin-top: 100px;
}
.price899__2{
    padding-bottom: 210px;
    padding-left: 93px;
}
.pric1899__2{
    margin-left: 25px;
    margin-top: 260px;
}
.price899__3{
    padding-left: 100px;
    margin-bottom: -170px;
}
.pric1899__3{
    margin-left: 26px;
    margin-top: 132px;
}
.price899__4{
    margin-left: 41px;
    margin-top: 176px;
}
.pric1899__4{
    margin-bottom: -215px;
    margin-left: -80px;
}
.main__watch__all-btn1{
    background-image: url(../images/watch__all.jpg);
    line-height: 27px;
    align-items: center;
    text-align: center;
    font-family: 'Waiting for the Sunrise', cursive;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    color: #FFFFFF;
    width: 180px;
    height: 50px;
    border: inherit;
    margin-bottom: 60px;
    margin-right: 598px;
    margin-left: 598px;
    cursor: pointer;
    margin-top: 30px;
}
.information__inner{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
.information-item1{
    max-width: 283px;
    max-height: 98px;
    display: flex;
}
.information-item2{
    max-width: 311px;
    max-height: 100px;
    display: flex;

}
.information-item3{
    max-width: 249px;
    max-height: 98px;
    display: flex;

}
.information-item__title{
    font-size: 25px;
    line-height: 30px;
    color: #1F1F1F;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: italic;
    align-items: center;
    text-align: center;
}
.information-item-text{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    Font-style: normal;
    color: #1F1F1F;
    position: absolute;
    margin-top: 75px;
}
.information-item__img{
    padding-right: 30px;
}
.information-item-text1{
    margin-left: 111px;
}
.information-item-text2{
    margin-left: 116px;
}
.information-item-text3{
    margin-left: 115px;
}
.instagram__inner{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 60px;
}
.instagram__title{
    color: #1F1F1F;
    font-size: 54px;
    line-height: 103px;
    font-family: 'Waiting for the Sunrise', cursive;
    font-weight: 400;
    font-style: normal;
}
.instagram-item{
    max-height: 370px;
    max-width: 370px;
}   
.instagram__text{
    font-size: 16px;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: normal;
}
.images__block__instagram{
    display: flex;
}
.instagram-img1{
    width: 205px;
    height: 205px;
    margin-top: 38px;
    padding-right: 6px;
}
.instagram-img2{
    width: 168px;
    height: 168px;
    margin-top: 75px;
}
.instagram-img3{    
    width: 370px;
    height: 370px;
    margin-top: 18px;
}
.images__block__instagram2{
    display: flex;
    margin-top: 18px;
}
.instagram-img4{
    width: 168px;
    height: 168px;
}
.instagram-img5{
    width: 205px;
    height: 205px;
    padding-bottom: 60px;
}
.instagram__title2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 42px;
    line-height: 51px;
    color: #F40000;
}
.instagram__text2{
    font-size: 16px;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 80px;
}